.landing-page-wrapper {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 5%;
    align-items: start;
}

.landing-page-content {
    order: 1;
}

.landing-page-image {
    order: 2;
}

.landing-page-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {

    .landing-page-content {
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }

    .landing-page-image {
        width: 100%;
        margin: auto;
    }

}
