.text-image-container {
    display: flex;
    align-items: flex-start;
}

.text {
    margin-right: 15px;
    flex: 1; /* Ensures the text takes up available space */
}

.image {
    width: 300px;
    /* You can also adjust the width as needed */
}


@media only screen and (max-width: 600px) {

    .landing-page-content {
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }

    .landing-page-image {
        width: 100%;
        margin: auto;
    }

}
